---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroHeader from '../components/HeroHeader.astro'
import './src/styles/global.css';
---

<BaseLayout>
	<HeroHeader />

	<section id="next-section" class="min-h-screen bg-white flex items-center justify-center">
		<!-- Aquí empieza la siguiente sección de tu sitio -->
		<h2 class="text-3xl font-bold text-gray-900">¡Bienvenido a mi portafolio!</h2>
	</section>

</BaseLayout>
