<section
    id="experience"
    class="min-h-screen w-screen flex flex-col items-center justify-center gap-6 px-4 py-10 bg-white font-oxanium"
    style="min-height: 100vh; min-width: 100vw;"
>

    <h2 class="text-5xl md:text-6xl font-extrabold mb-1 text-center">Experiencia</h2>
    <p class="text-xl md:text-2xl mb-3 text-center">
      +1 Año de experienica | 4 puestos
    </p>

    <div class="w-full md:w-4/5 xl:w-1/2 mx-auto">
        <!-- Contenedor principal de Swiper -->
        <div class="swiper">
            <!-- Wrapper adicional requerido -->
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide">
                    <article id="becario-dgapa" class="w-full md:max-w-[80%] mx-auto">
                        <div class="bg-white text-black rounded-xl outline outline-2 outline-gray-200/20 shadow-lg overflow-hidden hover:scale-[1.02] transition-transform duration-300 ease-in-out">
                            <div class="p-8 flex flex-col items-center text-center">
                            <h3 class="text-xl font-bold mb-2">Becario PAPIME</h3>
                            <a href="https://dgapa.unam.mx/index.php/conoce-la-dgapa/marco-institucional" target="_blank" class="text-lime-700 underline font-semibold hover:text-lime-500 transition">
                                PAPIME UNAM
                            </a>
                            <p class="my-4">
                                <time datetime="2025-01" class="font-semibold text-gray-600">Enero 2025</time> - Actualidad
                            </p>
                            <p class="mb-6">
                                Técnico encargado de la investigación e implementación de herramientas IAGen en el diseño de un curso enfocado en potenciar el pensamiento creativo de los estudiantes de la UNAM.
                            </p>
                            <div class="flex flex-row flex-wrap items-center justify-center gap-2">
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">AIGen</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Python</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Obsidian</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Drive</span>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Slide 2 -->
                <div class="swiper-slide">
                    <article id="siafi-studio" class="w-full md:max-w-[80%] mx-auto">
                        <div class="bg-white text-black rounded-xl outline outline-2 outline-gray-200/20 shadow-lg overflow-hidden hover:scale-[1.02] transition-transform duration-300 ease-in-out">
                            <div class="p-8 flex flex-col items-center text-center">
                            <h3 class="text-xl font-bold mb-2">Líder SIAFI Studio</h3>
                            <a href="https://siafi-unam.org/" target="_blank" class="text-lime-700 underline font-semibold hover:text-lime-500 transition">
                                SIAFI
                            </a>
                            <p class="my-4">
                                <time datetime="2025-02" class="font-semibold text-gray-600">Febrero 2025</time> - Actualidad
                            </p>
                            <p class="mb-6">
                                Project Manager del proyecto SIAFI Studio, el cual consiste en un conjunto de herramientas enfocadas en la edición y publicación automática de contenido para las redes sociales de SIAFI además de la implementación de una BD con todo el contenido multimedia creado en la sociedad.
                            </p>
                            <div class="flex flex-row flex-wrap items-center justify-center gap-2">
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">AI</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Python</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Obsidian</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Drive</span>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Slide 3 -->
                <div class="swiper-slide">
                    <article id="lider-difusion" class="w-full md:max-w-[80%] mx-auto">
                        <div class="bg-white text-black rounded-xl outline outline-2 outline-gray-200/20 shadow-lg overflow-hidden hover:scale-[1.02] transition-transform duration-300 ease-in-out">
                            <div class="p-8 flex flex-col items-center text-center">
                            <h3 class="text-xl font-bold mb-2">Líder de Difusión</h3>
                            <a href="https://siafi-unam.org/" target="_blank" class="text-lime-700 underline font-semibold hover:text-lime-500 transition">
                                SIAFI
                            </a>
                            <p class="my-4">
                                <time datetime="2023-09" class="font-semibold text-gray-600">Septiembre 2023</time> - <time datetime="2025-07" class="font-semibold text-gray-600">Julio 2025</time>
                            </p>
                            <p class="mb-6">
                                Responsable de desarrollar la marca SIAFI, de la dirección en la producción de contenido del 
                                <a href="https://www.instagram.com/unam.siafi/" target="_blank" class="underline text-lime-700 hover:text-lime-500 transition">instagram</a>
                                de la sociedad y de la producción de mercancía: playeras, hoodies, banderas, gafetes, etc.
                            </p>
                            <div class="flex flex-row flex-wrap items-center justify-center gap-2">
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Canva</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Notion</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Gimp</span>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Slide 4 -->
                <div class="swiper-slide">
                    <article id="pumahat" class="w-full md:max-w-[80%] mx-auto">
                        <div class="bg-white text-black rounded-xl outline outline-2 outline-gray-200/20 shadow-lg overflow-hidden hover:scale-[1.02] transition-transform duration-300 ease-in-out">
                            <div class="p-8 flex flex-col items-center text-center">
                            <h3 class="text-xl font-bold mb-2">Instructor de Ciberseguridad</h3>
                            <a href="https://pumahat.gitlab.io/" target="_blank" class="text-lime-700 underline font-semibold hover:text-lime-500 transition">
                                PUMA-HAT
                            </a>
                            <p class="my-4">
                                <time datetime="2025-03-12" class="font-semibold text-gray-600">12</time>,
                                <time datetime="2025-03-28" class="font-semibold text-gray-600">28</time> Marzo y
                                <time datetime="2025-05-05" class="font-semibold text-gray-600">5 Mayo 2025</time>
                            </p>
                            <p class="mb-6">
                                Como parte de la filosofía de PUMA-HAT: "Dar y recibir", después de recibir la capacitación me tocó dar 3 clases a la siguiente generación en donde junto con mi amigo 
                                <a href="http://www.linkedin.com/in/fernando-garcia-083427289" target="_blank" class="underline text-lime-700 hover:text-lime-500 transition">Fernando</a> 
                                presentamos los siguientes temas: "Introducción a Windows", "Ataques de autenticación y acceso" y "Fundamentos de WireShark"
                            </p>
                            <div class="flex flex-row flex-wrap items-center justify-center gap-2">
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Windows AD</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Burp Suit</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">WireShark</span>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Slide 5 -->
                <div class="swiper-slide">
                    <article id="maratonista" class="w-full md:max-w-[80%] mx-auto">
                        <div class="bg-white text-black rounded-xl outline outline-2 outline-gray-200/20 shadow-lg overflow-hidden hover:scale-[1.02] transition-transform duration-300 ease-in-out">
                            <div class="p-8 flex flex-col items-center text-center">
                            <h3 class="text-xl font-bold mb-2">Maratonista de Informática</h3>
                            <a href="http://www.anfeca.unam.mx/" target="_blank" class="text-lime-700 underline font-semibold hover:text-lime-500 transition">
                                ANFECA
                            </a>
                            <p class="my-4">
                                <time datetime="2025-08" class="font-semibold text-gray-600">Agosto 2023</time> - <time datetime="2025-03-28" class="font-semibold text-gray-600">Octubre 2023</time>
                            </p>
                            <p class="mb-6">
                                Junto con mi 
                                <a href="https://www.linkedin.com/posts/pablo-rojas-ti_anfeca2023-maraton-activity-7119070064045129729-0CdP/?utm" target="_blank" class="underline text-lime-700 hover:text-lime-500 transition">equipo</a> logramos el 3er lugar en el maratón nacional de Informática, el cual puso a prueba nuestros conocimientos en administración de proyectos, bases de datos, ciberseguridad, telecomunicaciones y programación (Python y C).
                            </p>
                            <div class="flex flex-row flex-wrap items-center justify-center gap-2">
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Quizlet</span>
                                <span class="bg-lime-300 text-black text-sm px-3 py-1 rounded-lg">Google Sheets</span>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <!-- Paginación -->
            <div class="swiper-pagination"></div>

            <!-- Navegación -->
            <div class="hidden md:block">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
            <!-- Scrollbar -->
            <div class="block md:hidden">
                <div class="swiper-scrollbar"></div>
            </div>

        </div>
    </div>
    
</section>

