<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="assets/icons/sparkles.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Pablo Rojas</title>
	</head>
	<body>
		<slot />

		<!--Water ripples -->
		<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script is:inline src="/js/jquery.ripples.js"></script>
		<script is:inline src="/js/water-ripples.js"></script>
		<script src="../scripts/initSwiper.js"></script>
	</body>

</html>