@media (max-width:450px){
    /*================[ PARAGRAPH ]*/
    p,time{
        font-size: 1rem;
    }

    /*================[ SECTIONS ]*/
    section{
        width: 80vw;
    }

    /*================[ NAV-BAR ]*/
    #nav-bar{
        width: 100%;
        border-radius: 0;
    }

    #nav-bar li{
        padding: 0.5em;
    }

    #nav-bar li:hover{
        height: auto;
    }

    #nav-bar p{
        display: none;
    }

    #nav-bar .icon{
        display: flex;
    }

    #nav-bar.scrolled{
        border-radius: 0 0 40px 40px;
    }

    #nav-bar .icon{
        border: black solid 2px;
        border-radius: 100%;
        padding: 0.2rem;
    }
    /*================[ Links ]*/

    .badges {
        justify-content: center;
    }

    /*================[ CARD ]*/
    
    .card-content {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .card p {
        margin: 0.5em auto 0.5em auto;
    }

    /*================[ ABOUT ME ]*/
    #about-me .card{
        display: inline-block;
    }

    #about-me .card-img{
        margin-top: 20px;
        width: 100%;
    }    

    /*================[ SLIDER ]*/
    #experience,#projects,#education,#contact {
        .slider-content{
            width: 85vw;
        }
    }

    /*================[ PROJECTS ]*/
    #projects .card {
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }

    #projects .card-content{
        padding-top: 1.5em;
    }

    #projects .card-img{
        width: 100%;
        border-radius: 0 0 0 0;
    }

    /*================[ CONTACT ]*/
    .mail{
        display: inline-block;
        width: 100%;
    }

    .mail p{
        width: 100%;
        margin-bottom: 20px;
    }
}