$time: 500ms;
$delay: calc($time/2);
$mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);

.slider-container {
    position: relative;

    width: 100vw;
    height: 80vh;

    .bullet-container{

        position: absolute;
        bottom: 0;

        height: 10%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        .bullet {
            margin-right: 14px;
            &:last-child {
              margin-right: 0px;
            }
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #B3E73A;
            opacity: 0.5;
            &.active {
              opacity: 1;
            }
        }
    }.slider-content{
        position: relative;
        left: 50%;
        top: 50%;

        width: 70%;
        height: 80%;

        transform: translate(-50%, -50%);
        .slider-single{

            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;

            display: flex;
            flex-direction:row;
            justify-content: center;
            
            transition: z-index 0ms $delay;
            .card{
                position: relative;
                left: 0;
                top: 0;

                height: 100%;
                width: 100%;

                transition: $time $mode;

                transform: scale(0);
                opacity: 0;
            }
            &.preactivede {
                //z-index: 0;
                .card {
                  //opacity: 0;
                  //transform: translateX(-25%) scale(0);
                  transform: translateX(clamp(-10%, -25%, 0%)) scale(0);
                }
            }
            &.preactive{
                z-index: 1;
                .card {
                    opacity: 0.3;
                    //transform: translateX(-25%) scale(0.8);
                    transform: translateX(clamp(-10%, -25%, 0%)) scale(0.8);
                }
            }&.proactive{
                z-index: 1;
                .card {
                    opacity: 0.3;
                    //transform: translateX(25%) scale(0.8);
                    transform: translateX(clamp(10%, 25%, 0%)) scale(0.8);
                }
            }&.proactivede {
                //z-index: 0;
                .card {
                  //opacity: 0;
                  //transform: translateX(25%) scale(0);
                  transform: translateX(clamp(10%, 25%, 0%)) scale(0);
                }
            }&.active {
                z-index: 2;
                .card {
                    opacity: 1;
                    transform: translateX(0%) scale(1);
                }
            }
        }
    }
    .slider-left {
        
        z-index: 3;

        position: absolute;
        display: block;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        color: #ffffff;
        
        padding: 20px 15px;
        margin-right: -2px;
        img{
            height:3rem;
            width: 3rem;
        }
    }
    .slider-right {
        position: absolute;
        z-index: 4;
        display: block;
        right: 0;
        top: 50%;
        color: #ffffff;
        transform: translateY(-50%);
        padding: 20px 15px;
        margin-left: -2px;
        img{
            height:3rem;
            width: 3rem;
        }

    }
    .not-visible {
        display: none !important;
    }
}



/*# sourceMappingURL=slides-experience.scss.map */
