/*================[ RESET ]*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

ul,ol{
    list-style: none;
    
}

/*================[ BODY ]*/
body{
    background: white;
    color: black;
    width: 100vw;
    overflow-x: hidden;
}

body img{
    border-radius: 10px;
}

/*================[ HEADERS ]*/
h2{
    font-size:3em;
}

h3{
    font-size: x-large;
}

/*================[ PARAGRAPH ]*/
p, time{
    font-size: 1.3rem;
}

/*================[ LINKS ]*/
a{
    color: #8eb72f;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    scale: 1.2;
    transition: 0.3s ease-in-out;   
}

.badges{
    display: flex;
    flex-direction: row;
    align-content: center;

    flex-wrap: wrap;
    gap: 0.5em;
}

.badge-link, span{
    color: black;
    font-size: small;

    background: #b3e73a;

    padding: 0.5em;
    border-radius: 10px;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.badge-link:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

/*================[ ICONS ]*/
.icon svg{
    width: 1.2em;
    height: 1.2em;
    stroke: black;
    fill: none;
    stroke-linejoin:round;
    stroke-linecap:round;
}

/*================[ SECTIONS ]*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70vw;
    max-width: 800px;

    margin: 5% auto;

    scroll-margin-top: 4.7em;
}

/*================[ BANNER ]*/
.banner {
    position: relative;

    height: 100vh;
    width: 100%;
}

.banner-content {
    color: white;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.water-ripples{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.banner h1{
    font-size: 15vh;
    line-height: 1;
}

.banner p{
    font-size: 5vh;
}

.video-container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.video-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);  
}

.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*================[ NAV-BAR ]*/
#divider{
    position: absolute;
    height: 8vh;
    width: 100%;

    background: #ffffff;
background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
    
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);

    margin: -8vh auto 8vh auto;
    z-index: 2;
}

#nav-bar{
    background: white;
    transition: background 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
    
    width: fit-content;
    height: 8vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    
    padding-right: 1em;
    padding-left: 1em;

    position: sticky;
    top: 0;
    z-index: 2;

    margin: -8vh auto 8vh auto;
}

#nav-bar.scrolled{
    background: rgba(180, 232, 58, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);

    height: fit-content;
    height: 8vh;
}

#nav-bar ol{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

#nav-bar li{
    padding: 1em;
}

#nav-bar li:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
    background: rgba(180, 232, 58, 0.56);
    border-radius: 40px;
    height: 1em;

    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#nav-bar a{
    color: black;
    text-decoration: none;
}

#nav-bar.scrolled li:hover{
    background: white;
}

/*================[ CARD ]*/
.card{
    color: black;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

    width: 100%;

    margin: 5% auto;
}

.card-content{
    padding: 3em;
}

.card:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.card p{
    margin: 1em auto 1em auto;
}

/*================[ ABOUT ME ]*/
#about-me .card{
    display: flex;
    flex-direction: row;
    gap: 1em;

    box-shadow: none;
    background: none;
}

#about-me .card-content{
    padding: 0;
}

#about-me img{
    width: 30%;
    
}

#about-me .card:hover{
    scale: none;
}

/*================[ EXPERIENCE ]*/
#experience .card{
    width: 70%;
}

#experience .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*================[ PROJECTS ]*/
#projects .card{
    display: flex;
    flex-direction: row;
}

#projects img{
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*================[ EDUCATION ]*/

#education .card{
    display: flex;
    flex-direction: column;

    width: 50%;
}

#education img{
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#education .icon svg{
    width: 2em;
    height: 2em;
}

#education .card p{
    margin: auto auto 1em auto;
}

.certificate{
    position: relative;
}

.certificate a{
    position: absolute;
    top: 2em;
    right: 2em;
}

/*================[ CONTACT ]*/
#contact p{
    text-align: center;
}

.mail{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
    gap: 0.5em;

    width: 80%;
}

.mail p{
    background: #B3E73A;
    border: 2px solid black;
    
    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
}

.mail p:hover{
    
    transition: 0.3s ease-in-out;
    scale: 1.03;
}

/*================[ BUTTONS ]*/

button{
    background: #B3E73A;
    border: 2px solid black;

    border-radius: 100%;
    height: 3em;
    width: 3em;
    text-align: center;

    transition: 0.3s ease-in-out;
}

button .icon svg{
    width: 1.5em;
    height: 1.5em;
}

button:hover{
    scale: 1.1;
}

button:active{
    scale: 0.8;
}

/*================[ FOOTER ]*/

footer{
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(179, 231, 58, 1) 40%);
    padding: 5em;

    margin-top: 20vh;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}