/*================[ RESET ]*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

ul,ol{
    list-style: none;
    
}

/*================[ BODY ]*/
body{
    background: white;
    color: black;
    width: 100vw;
    overflow-x: hidden;
}

body img{
    border-radius: 10px;
}

/*================[ LINKS ]*/
a{
    color: #16886b;
    text-decoration: none;
    font-weight: bold;
}

.badges{
    display: flex;
    flex-direction: row;
    align-content: center;

    flex-wrap: wrap;
    gap: 0.5em;
}

.badge-link, span{
    color: white;
    font-size: small;

    background: #16886b;

    padding: 0.5em;
    border-radius: 10px;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.badge-link:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

/*================[ ICONS ]*/
.icon svg{
    width: 1.2em;
    height: 1.2em;
    stroke: white;
    fill: none;
    stroke-linejoin:round;
    stroke-linecap:round;
}

/*================[ SECTIONS ]*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70vw;
    max-width: 800px;

    margin: 5% auto;

    scroll-margin-top: 80px;
}

/*================[ BANNER ]*/
.banner {
    position: relative;

    height: 90vh;
    width: 100%;
}

.banner-background{
    position: absolute;

    height: 100%;
    width: 100%;

    background: url('../assets/image-test.jpg') no-repeat center center/cover;
    background-attachment: fixed;

    z-index: 0;
}

.banner-background::before{
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);  
}

.banner-content {
    color: white;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.banner h1{
    font-size: 8vw;
}

.banner p{
    font-size: 3vw;
}

/*================[ NAV-BAR ]*/
#divider{
    position: absolute;
    height: 10vh;
    width: 100%;
}

#nav-bar{
    background: none;
    transition: background 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;

    width: fit-content;
    height: 10vh;

    display: flex;
    align-items: center;
    margin: 0 auto;
    
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-bar.scrolled{
    background: rgba(22, 136, 107, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);

    border-radius: 0 0 10px 10px;
    height: fit-content;
    height: 8vh;
}

#nav-bar.scrolled a{
    color: white;
}

#nav-bar ol{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

#nav-bar li{
    padding: 1em;
}

#nav-bar li:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

#nav-bar a{
    color: black;
    text-decoration: none;
}

/*================[ CARD ]*/
.card{
    color: black;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    border-radius: 10px;

    width: 100%;

    margin: 5% auto;
}

.card-content{
    padding: 3em;
}

.card:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

/*================[ ABOUT ME ]*/
#about-me .card{
    display: flex;
    flex-direction: row;
    gap: 1em;

    box-shadow: none;
    background: none;
}

#about-me .card-content{
    padding: 0;
}

#about-me img{
    width: 30%;
    
}

#about-me .card:hover{
    scale: none;
}

/*================[ EXPERIENCE ]*/
#experience .card{
    width: 70%;
}

#experience .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*================[ PROJECTS ]*/
#projects .card{
    display: flex;
    flex-direction: row;
}

#projects img{
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*================[ EDUCATION ]*/

#education .card{
    display: flex;
    flex-direction: column;

    width: 50%;
}

#education img{
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#education .icon svg{
    width: 2em;
    height: 2em;
}

.certificate{
    position: relative;
}

.certificate a{
    position: absolute;
    top: 2em;
    right: 2em;
}

/*================[ EDUCATION ]*/
.mail{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
    gap: 0.5em;

    width: 80%;
}

.mail p{
    background: gray;
    border: 2px solid black;

    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
}

/*================[ FOOTER ]*/

footer{
    background: #16886b;
    padding: 3em;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}